$main-CasiVerde: #a5c6b1;
$main-Amarillo: #f5d64e;
$main-Cremita: #fffa90;
$main-CasiNagro: #0a1417;
$main-gris:#7c7b89;
$main-marronclaro:#292727;
$main-amarillobajo: #fdecb8ea;
$main-rojo: #ffddddd3;